:local(.heading){
  padding-left: 1em;
  background-color: #1d1d1f;
  width: 100%;
  vertical-align: middle;
}
:local(.iris){
  color: #b2e612;
  font-size: 1.8em;
  margin-top: -10px;
  display: inline-block;
  vertical-align: middle;
}